body {
    padding: 0;
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;
    overflow-x: hidden;

    background-color: #000;
}

a {
    color: #FFF;
    font-family: Ingrid Darling;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

p {
    color: #fff
}