body {
    padding: 0;
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;
    overflow-x: hidden;
    color: #fff;
    background-color: #000;
}

a,
h1,
h2,
p,
button,
input,
select {
    color: #FFF;
    font-family: 'Passion One', sans-serif;
    font-weight: 400;
    line-height: normal;
}

a {
    font-size: 40px;
    text-decoration: none;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 42px;
}

p {
    font-size: 32px;
    width: 100%;
}

button,
input,
select {
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 24px;
    align-items: center;
}

select {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}