.body {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.offer {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: #FFF;
        text-shadow: 10px 15px 6px rgba(255, 255, 255, 0.20);
        font-family: Passion One;
        font-size: 96px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}